* {
	margin: 0;
}

button#reset {
	width: 100px;
	height: 20px;
	margin: auto;
        display: block;
	margin-top: 10px;	
}

div#container {
	width: 500px;
	height: 500px;
	margin: auto;
	margin-top: 20px;
}

.block {
	float: left;
	background-color: #FFF;
	margin: -1px;
	border: 1px solid;
}
